.cart-total-price-label{
  display: flex;
  justify-content: flex-end;
  //padding: 1px 10px 1px 0;
}
.cart-total-price-text{
  font-weight: bolder;
  text-align: right;
  //padding: 1px 0 1px 0;
  //overflow: hidden;
  //white-space: nowrap;
  //text-overflow: ellipsis;
}

.item-total-price{
  hr{
    margin: 0.5rem 1rem;
  }
}
