.cw-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

.cw-modal-wrapper {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  width: 90%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  //border-radius: 15px;
}

.cw-modal-overlay-agent {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

.cw-modal-wrapper-agent {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  width: 90%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  //border-radius: 15px;
}

.cw-modal {
  z-index: 100;
  //margin: 0 auto;
  position: relative;
  //border-radius: $border-radius;
  //max-width: 500px;
  //padding: 1em;
  justify-content: center;
  align-items: center;

  hr {
    width: 95%;
  }
}

@media only screen and (min-width: 600px) {
  .cw-modal-overlay {
    border-radius: 1rem;
    z-index: 99999;
    left: auto;
    top: unset;
    position: fixed;
    float: right;
    right: 4.4rem;
    bottom: 4rem;
    width: 45vh;
    height: 80vh;
  }

  .cw-modal-wrapper {
    left: auto;
    position: fixed;
    right: 4rem;
    width: 45vh;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .cw-modal {
    width: 90% !important;
  }
}

@media only screen and (min-width: 450px) {
  .cw-modal-overlay-agent {
    position: fixed;
    top: 7%;
    right: 10%;
    border-radius: 2rem;
    z-index: 99999;
    width: 39.5%;
    height: 93vh;
    left: auto
  }
  .cw-modal-wrapper-agent {
    left: 72.3%;
    top: 50%;
    z-index: 99999;
    width: 39.5%;
  }
}
