.cw-cart-sub-header {
  &__cart-lock {
    //padding-top: 0.5rem;;
  }

  &__cart-status {
    margin: 0.5rem 0;
  }
}

.cw-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
