$cartBorderRadius: 20px;
.cw-modal-body{
  padding: 0 5px 20px 5px;
  background-color: rgb(231, 231, 231);
  border-bottom-left-radius: $cartBorderRadius;
  border-bottom-right-radius: $cartBorderRadius;
}

