$cartBorderRadius: 20px;

.cw-variant{
  background-color: #ffffff;
  border-radius: $cartBorderRadius;
  color: #000000;
  font-weight: bold;
  padding: 13px; 
}
.list{
  flex-direction: column;
  display: flex;
}

.variant-header{
   height: 30px;
}
.button1{
  height: 1.3rem;
  background-color: #ffffff;
  border: 0;
}
.icon{
  border-radius: 50px;
  height:2rem;
  width:2rem;
  padding-top: 6px;
  padding-left: 1px;
}
