.cw-button {
  border: none;
  background-color: #0a0e18;
  color: #fff;
  width: auto;
  padding: 0.9em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9em;
  font-family: Open Sans;
  border-radius: 60px; 
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  justify-content: space-evenly;
  align-items: center;
  white-space: nowrap;
  &:hover {
    background-color: #02050ed1;
  }
  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &.primary {
    background-color: #0a0e18;
  }
  &.success {
    background-color: #32db36;
  }
  &.active {
    background-color: #9e9266;
  }
}
