.cw-shopping-basket {
  position: relative;
  display: inline-block;
  color: #fff;
  z-index: 99999;
  .cw_shopping_basket_count_initial {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    font-size: 0.7rem;
  }
}

.cw-shopping-basket:hover {
  cursor: pointer;
}


.cw_shopping_basket_count-enter {
  font-size: 1rem !important;
}

.cw_shopping_basket_count-enter-active {
  font-size: 0.7rem !important;
  transition: font-size 300ms;
}

.cw_shopping_basket_count-exit {
  font-size: 0.7rem !important;
}

.cw_shopping_basket_count-exit-active {
  font-size: 1rem !important;
  transition: font-size 100ms;
}
