.cw-cart-action-icon{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cw-cart-price-text{
  display: flex;
  justify-content: flex-end;
  font-weight: bolder;
  align-items: center;
  //font-family: Arial, serif;
}
.cw-cart-image{
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 2.3rem;
  height: 2.5rem;
  padding-right: 0.3rem;
}
.light{
  opacity: 0.4;
}
.boarder-bottom{
  border-bottom: 1px solid #00000070;
}
.cw-cart-product-text{
  min-height: 1rem;
  display: block;
  width: 6rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.cw-cart-product-text:hover{
  overflow:unset;
  white-space:unset;
}
