.cw-select {
  width: 100%;
  position: relative;
  select {
    border-radius: 290486px;
    padding: 0.7em;
    width: auto;
    appearance: none;
    font-size: 0.9em;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    border: 1px solid #cfcfcf;
    cursor: pointer;
    &.disabled {
      color: rgba(0, 0, 0, 0.25);
      background: #f5f5f5;
      cursor: not-allowed;
    }
  }
  option {
    &.disabled {
      color: rgba(0, 0, 0, 0.25);
      background: #f5f5f5;
      cursor: not-allowed;
    }
  }
}
