
@media  screen  {
    /* For All: */
    .c1 {width: 8.33%;}
    .c2 {width: 16.66%;}
    .c3 {width: 25%;}
    .c4 {width: 33.33%;}
    .c5 {width: 41.66%;}
    .c6 {width: 50%;}
    .c7 {width: 58.33%;}
    .c8 {width: 66.66%;}
    .c9 {width: 75%;}
    .c10 {width: 83.33%;}
    .c11 {width: 91.66%;}
    .c12 {width: 100%;}
}

@media only screen and (max-width: 600px) {
    /* For Mobile: */
    .cs1 {width: 8.33%;}
    .cs2 {width: 16.66%;}
    .cs3 {width: 25%;}
    .cs4 {width: 33.33%;}
    .cs5 {width: 41.66%;}
    .cs6 {width: 50%;}
    .cs7 {width: 58.33%;}
    .cs8 {width: 66.66%;}
    .cs9 {width: 75%;}
    .cs10 {width: 83.33%;}
    .cs11 {width: 91.66%;}
    .cs12 {width: 100%;}
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    /* For Tablet: */
    .cm1 {width: 8.33%;}
    .cm2 {width: 16.66%;}
    .cm3 {width: 25%;}
    .cm4 {width: 33.33%;}
    .cm5 {width: 41.66%;}
    .cm6 {width: 50%;}
    .cm7 {width: 58.33%;}
    .cm8 {width: 66.66%;}
    .cm9 {width: 75%;}
    .cm10 {width: 83.33%;}
    .cm11 {width: 91.66%;}
    .cm12 {width: 100%;}
}

@media only screen and (min-width: 1024px) {
    /* For laptop: */
    .cl1 {width: 8.33%;}
    .cl2 {width: 16.66%;}
    .cl3 {width: 25%;}
    .cl4 {width: 33.33%;}
    .cl5 {width: 41.66%;}
    .cl6 {width: 50%;}
    .cl7 {width: 58.33%;}
    .cl8 {width: 66.66%;}
    .cl9 {width: 75%;}
    .cl10 {width: 83.33%;}
    .cl11 {width: 91.66%;}
    .cl12 {width: 100%;}
}
.cw-row::after {
    content: "";
    clear: both;
    display: table;
}
.cw-row{
    display: flex;
    flex-direction: row;
}
/* Responsive End */
