.cw-grid-item {
  width: 100%;
  font-size: 0.8em;
  display: inline-grid;
  grid-template-columns: 1.5fr 3fr 2fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'image desc price share cart';
  border-bottom: 1px solid grey;
  & > * {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
