$border: 1px solid #ddd;
$padding: 0px;
$label-font-size: 8px;


.middle-break{
  width: 100%;
}
.end-break{
  width: 100%;
  border: 0;
}

.card .input-container {
  position: relative;

}
.card .input-container input {
  outline: none;
  z-index: 1;
  //position: relative;
  background: none;
  width: 100%;
  height: 28px;
  margin-top: 2px;
  border: 0;
  color: #212121;
  font-size: 16px;
  font-weight: 400;
}
.card .input-container input:focus ~ label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
  transform: translate(-12%, -50%) scale(0.75);
}
.card .input-container input:focus ~ .bar:before, .card .input-container input:focus ~ .bar:after {
  width: 50%;
}
.card .input-container input:valid ~ label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
  transform: translate(-12%, -50%) scale(0.75);
}
.card .input-container label {
  //border: 1px solid black;
  position: absolute;
  top: -1px;
  left: 0;
  color: #757575;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.card .input-container .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  //background: #757575;
  width: 100%;
  height: 1px;
}
.card .input-container .bar:before, .card .input-container .bar:after {
  content: '';
  //position: absolute;
  //background: #ed2553;
  width: 0;
  height: 2px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}
.card .input-container .bar:before {
  left: 50%;
}
.card .input-container .bar:after {
  right: 50%;
}

