$cartBorderRadius: 20px;

.cw-cart-header {
  background-color: #e7e7e7;
  border-top-left-radius: $cartBorderRadius;
  border-top-right-radius: $cartBorderRadius;
  height: 3.3rem;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;


  &__header-icon {
    justify-content: right;
    position: relative;
    right: 5px;
    top: 2px;
  }
}
