.panel-header {
  width: 100%;
  font-size: 0.8em;
  display: inline-grid;
  grid-template-columns: 5fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'desc price cart';
  & > * {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.panel-header-2-col{
  width: 100%;
  font-size: 0.8em;
  display: inline-grid;
  grid-template-columns: 6fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'desc price cart';
  & > * {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
