@import 'iconmoon';
@import './css/responsive.css';


body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

div,
p,
span {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

.cw-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
