$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$cwicon-APP-NAV-CONTRACT-BTN-path1: "\e910";
$cwicon-APP-NAV-CONTRACT-BTN-path2: "\e990";
$cwicon-APP-NAV-EXPAND-BTN-path1: "\e991";
$cwicon-APP-NAV-EXPAND-BTN-path2: "\e992";
$cwicon-APP-NAV-NoCAM-BTN-path1: "\e993";
$cwicon-APP-NAV-NoCAM-BTN-path2: "\e994";
$cwicon-APP-NAV-NoMIC-BTN-path1: "\e995";
$cwicon-APP-NAV-NoMIC-BTN-path2: "\e996";
$cwicon-BASKET-DARK-ROUNDEL-path1: "\e997";
$cwicon-BASKET-DARK-ROUNDEL-path2: "\e998";
$cwicon-BASKET-WHITE-ROUNDEL-path1: "\e999";
$cwicon-BASKET-WHITE-ROUNDEL-path2: "\e99a";
$cwicon-BASKET: "\e99b";
$cwicon-TOP-NAV-BASKET-path1: "\e99c";
$cwicon-TOP-NAV-BASKET-path2: "\e99d";
$cwicon-VIDEO-CTA-path1: "\e90d";
$cwicon-VIDEO-CTA-path2: "\e90e";
$cwicon-ICON-Calendar: "\e98f";
$cwicon-APP-HEADER-Bag-path1: "\e900";
$cwicon-APP-HEADER-Bag-path2: "\e901";
$cwicon-APP-HEADER-Confer-path1: "\e902";
$cwicon-APP-HEADER-Confer-path2: "\e903";
$cwicon-APP-HEADER-LEFT: "\e904";
$cwicon-APP-HEADER-Profile-path1: "\e905";
$cwicon-APP-HEADER-Profile-path2: "\e906";
$cwicon-APP-HEADER-Right: "\e907";
$cwicon-CTA_AddtoBasket_Big-path1: "\e908";
$cwicon-CTA_AddtoBasket_Big-path2: "\e909";
$cwicon-CTA_AddtoBasket_Big-path3: "\e90a";
$cwicon-CTA_AddtoBasket_Big-path4: "\e90b";
$cwicon-CTA_AddtoBasket_Big-path5: "\e90c";
$cwicon-CTA_AddtoBasket_Small-path1: "\e90f";
$cwicon-CTA_AddtoBasket_Small-path2: "\e99e";
$cwicon-CTA_AddtoBasket_Small-path3: "\e99f";
$cwicon-CTA_AddtoBasket_Small-path4: "\e9a0";
$cwicon-CTA_BackToChat-path1: "\e911";
$cwicon-CTA_BackToChat-path2: "\e912";
$cwicon-CTA_BackToChat-path3: "\e913";
$cwicon-CTA_BackToChat-path4: "\e914";
$cwicon-CTA_BackToChat-path5: "\e915";
$cwicon-CTA_Voive_Only-path1: "\e916";
$cwicon-CTA_Voive_Only-path2: "\e917";
$cwicon-CTA_Voive_Only-path3: "\e918";
$cwicon-CTA_Voive_Only-path4: "\e919";
$cwicon-CTA_Voive_Only-path5: "\e91a";
$cwicon-CTA-Bag-path1: "\e91b";
$cwicon-CTA-Bag-path2: "\e91c";
$cwicon-CTA-Chat_Only-path1: "\e91d";
$cwicon-CTA-Chat_Only-path2: "\e91e";
$cwicon-CTA-Chat_Only-path3: "\e91f";
$cwicon-CTA-Chat_Only-path4: "\e920";
$cwicon-CTA-Chat_Only-path5: "\e921";
$cwicon-CTA-Close-path1: "\e922";
$cwicon-CTA-Close-path2: "\e923";
$cwicon-CTA-EXPERT_Available-path1: "\e924";
$cwicon-CTA-EXPERT_Available-path2: "\e925";
$cwicon-CTA-EXPERT_Available-path3: "\e926";
$cwicon-CTA-EXPERT_Available-path4: "\e927";
$cwicon-CTA-EXPERT_Continue-path1: "\e928";
$cwicon-CTA-EXPERT_Continue-path2: "\e929";
$cwicon-CTA-EXPERT_Continue-path3: "\e92a";
$cwicon-CTA-EXPERT_Login-path1: "\e92b";
$cwicon-CTA-EXPERT_Login-path2: "\e92c";
$cwicon-CTA-EXPERT_Login-path3: "\e92d";
$cwicon-CTA-EXPERT_Nav_Active: "\e92e";
$cwicon-CTA-EXPERT_Nav: "\e92f";
$cwicon-CTA-EXPERT_Offers_ON-path1: "\e930";
$cwicon-CTA-EXPERT_Offers_ON-path2: "\e931";
$cwicon-CTA-EXPERT_Offers-path1: "\e932";
$cwicon-CTA-EXPERT_Offers-path2: "\e933";
$cwicon-CTA-EXPERT_Shoppingbag_ON-path1: "\e934";
$cwicon-CTA-EXPERT_Shoppingbag_ON-path2: "\e935";
$cwicon-CTA-EXPERT_Shoppingbag-path1: "\e936";
$cwicon-CTA-EXPERT_Shoppingbag-path2: "\e937";
$cwicon-CTA-EXPERT_Start_Call: "\e938";
$cwicon-CTA-Finish_Confirm-path1: "\e939";
$cwicon-CTA-Finish_Confirm-path2: "\e93a";
$cwicon-CTA-Finish_Confirm-path3: "\e93b";
$cwicon-CTA-Finish_Confirm-path4: "\e93c";
$cwicon-CTA-KeepConnected-path1: "\e93d";
$cwicon-CTA-KeepConnected-path2: "\e93e";
$cwicon-CTA-KeepConnected-path3: "\e93f";
$cwicon-CTA-KeepConnected-path4: "\e940";
$cwicon-CTA-MainNav_Audio-path1: "\e941";
$cwicon-CTA-MainNav_Audio-path2: "\e942";
$cwicon-CTA-MainNav_AudioOff-path1: "\e943";
$cwicon-CTA-MainNav_AudioOff-path2: "\e944";
$cwicon-CTA-MainNav_Chat-path1: "\e945";
$cwicon-CTA-MainNav_Chat-path2: "\e946";
$cwicon-CTA-MainNav_ChatOff-path1: "\e947";
$cwicon-CTA-MainNav_ChatOff-path2: "\e948";
$cwicon-CTA-MainNav_ExpandVideo-path1: "\e949";
$cwicon-CTA-MainNav_ExpandVideo-path2: "\e94a";
$cwicon-CTA-MainNav_ExpandVideo-path3: "\e94b";
$cwicon-CTA-MainNav_MinimizeVideo-path1: "\e94c";
$cwicon-CTA-MainNav_MinimizeVideo-path2: "\e94d";
$cwicon-CTA-MainNav_MinimizeVideo-path3: "\e94e";
$cwicon-CTA-MainNav_Stop-Call-path1: "\e94f";
$cwicon-CTA-MainNav_Stop-Call-path2: "\e950";
$cwicon-CTA-MainNav_Video-path1: "\e951";
$cwicon-CTA-MainNav_Video-path2: "\e952";
$cwicon-CTA-MainNav_VideoOff-path1: "\e953";
$cwicon-CTA-MainNav_VideoOff-path2: "\e954";
$cwicon-CTA-Star_Video-path1: "\e955";
$cwicon-CTA-Star_Video-path2: "\e956";
$cwicon-CTA-Star_Video-path3: "\e957";
$cwicon-CTA-Star_Video-path4: "\e958";
$cwicon-CTA-Star_Video-path5: "\e959";
$cwicon-GRAPHIC-Filled_Bubble-path1: "\e95a";
$cwicon-GRAPHIC-Filled_Bubble-path2: "\e95b";
$cwicon-GRAPHIC-Main_Nav_Shape: "\e95c";
$cwicon-GRAPHIC-Offline_Dot: "\e95d";
$cwicon-GRAPHIC-Online_Dot: "\e95e";
$cwicon-GRAPHIC-Outline_Bubble: "\e95f";
$cwicon-GRAPHIC-POWERED-BY-path1: "\e960";
$cwicon-GRAPHIC-POWERED-BY-path2: "\e961";
$cwicon-GRAPHIC-POWERED-BY-path3: "\e962";
$cwicon-GRAPHIC-POWERED-BY-path4: "\e963";
$cwicon-GRAPHIC-POWERED-BY-path5: "\e964";
$cwicon-GRAPHIC-POWERED-BY-path6: "\e965";
$cwicon-GRAPHIC-POWERED-BY-path7: "\e966";
$cwicon-GRAPHIC-POWERED-BY-path8: "\e967";
$cwicon-GRAPHIC-POWERED-BY-path9: "\e968";
$cwicon-GRAPHIC-POWERED-BY-path10: "\e969";
$cwicon-GRAPHIC-POWERED-BY-path11: "\e96a";
$cwicon-GRAPHIC-POWERED-BY-path12: "\e96b";
$cwicon-GRAPHIC-PoweredBy_White: "\e96c";
$cwicon-ICON--chat: "\e96d";
$cwicon-ICON-Arrow_Down: "\e96e";
$cwicon-ICON-Bag_Dark: "\e96f";
$cwicon-ICON-Bag_Dark1: "\e970";
$cwicon-ICON-Chat_Dark: "\e971";
$cwicon-ICON-Checkmark: "\e972";
$cwicon-ICON-Close_White: "\e973";
$cwicon-ICON-Close: "\e974";
$cwicon-ICON-Confer_Dark: "\e975";
$cwicon-ICON-Delete: "\e976";
$cwicon-ICON-Edit: "\e977";
$cwicon-ICON-Email: "\e978";
$cwicon-ICON-EXPERT_Share: "\e979";
$cwicon-ICON-Eye_Close: "\e97a";
$cwicon-ICON-Eye_Open: "\e97b";
$cwicon-ICON-fli: "\e97c";
$cwicon-ICON-logo: "\e97d";
$cwicon-ICON-Magnifier: "\e97e";
$cwicon-ICON-Mic_Dark: "\e97f";
$cwicon-ICON-Mic: "\e980";
$cwicon-ICON-Phone: "\e981";
$cwicon-ICON-Play: "\e982";
$cwicon-ICON-PlayWhite: "\e983";
$cwicon-ICON-Profile: "\e984";
$cwicon-ICON-shield-path1: "\e985";
$cwicon-ICON-shield-path2: "\e986";
$cwicon-ICON-Shooping-: "\e987";
$cwicon-ICON-Shooping: "\e988";
$cwicon-ICON-Sorting: "\e989";
$cwicon-ICON-Star_Filled: "\e98a";
$cwicon-ICON-Star_Outline: "\e98b";
$cwicon-ICON-Statusbar-arrow: "\e98c";
$cwicon-ICON-Video_Dark: "\e98d";
$cwicon-ICON-Video: "\e98e";

